.badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: static;
    border: 2px solid transparent;

    .active{
        border: 1px solid gray;
    }

    &__green {
      background-color: #42B883;
    }

    &__blue {
      background-color: #64C4ED;
    }

    &__pink {
      background-color: #ffbbcc;
    }

    &__red{
      background-color: #FF6464;
    }

    &__yellow{
      background-color: yellow;
    }
    
    &__black{
        background-color: #110133;
    }

    &__purple{
        background-color: #C355F5;
    }

    &__lime{
        background-color: #B6E6BD;
    }

    &__grey{
        background-color: #C9D1D3;
    }

    &.active {
      border: 2px solid #525252;
    }
    
    &.pointer{
      cursor: pointer;
    }

  }