.header {
    width: 100%;
    height: 60px;
    background-color: #282c34;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    .navbar__link {
        margin: -25px 0 40px auto;
        position: absolute;
        text-decoration: none;
        color: white;
        font-size: 2rem;
        font-weight: bold;

        &:hover {
            color: darken(white, 40%);
        }

        &__login {
            right: 260px;
        }

        &__logout {
            right: 130px;
        }

        &__about{
            right: 15px;
        }

    }

    a {
        text-decoration: none;
        color: white;
    }

    &__title__link {
        margin-left: 15px;
        font-size: 2rem;
        position: relative;
        font-weight: bold;

        &:hover {
            color: darken(white, 40%);
        }
    }

    &__title {
        margin-left: 300px;
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
    }

    button {
        right: 30px;
        position: relative;
        cursor: pointer;
    }

    .form__btn {

        margin: 15px 20px 5px 10px;


        img {

            opacity: .8;
            cursor: pointer;
            margin-right: 0px;

            &:hover {
                opacity: 1;
            }
        }
    }
}