.sidebar {
  background-color: #f4f6f8;
  width: 360px;
  height: calc(100% - 120px);
  border-right: 1px solid #f1f1f1;
  padding: 60px 20px;
  overflow: auto;

  .list {

    .mb30 {
      margin-bottom: 30px;
    }

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 12px;
      margin-bottom: 5px;

      span {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 160px;
        white-space: nowrap;
        text-transform: uppercase;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.7);

        .removable {
          opacity: 0.3;
        }
      }

      .removable {
        opacity: 0;

        &:hover {
          opacity: 0.8;
        }
      }

      &.active {
        background: #ffffff;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
      }

      i {
        display: inline-flex;
        margin-right: 8px;

        img {
          opacity: 0.6;
        }
      }

    }

    .add {
      margin-bottom: 30px;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }

    }

    &-tasks-cnt{
      opacity: 0.4;
      margin-left: 15px;
    }

  }

}