body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  //list-style: none;
  outline: 0;
  font-size: 16px;
}

.loading-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App{
  font-size: 16px;
  width: 100%;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 53%;
  width: 98%;
  height: 90%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;

  &__tasks{
    flex: 1;
    padding: 60px;
    overflow: auto;

    &__h1{
     // color: #64c4ed;
      line-height: 39px;
      font-size: 2rem;
      font-weight: bold;
      font-style: normal;
      font-family: Montserrat, -apple-system, system-ui, sans-serif;
      padding-bottom: 20px;
      border-bottom: 1px solid #f2f2f2;
    }
  }

}

