body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
  font-size: 16px;
}

.loading-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 95%;
  height: 90%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;

  &__tasks{
    flex: 1;
    padding: 60px;
    overflow: auto;

    h1{
      color: #64c4ed;
      line-height: 39px;
      font-size: 2rem;
      font-weight: bold;
      font-style: normal;
      font-family: Montserrat, -apple-system, system-ui, sans-serif;
      padding-bottom: 20px;
      border-bottom: 1px solid #f2f2f2;
    }
  }

}

.field{
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;

  &:focus{
    border-color: #d1cfcf;
  }

  
}

.button{
  border-radius: 4px;
  background: #4dd599;
  color: #ffffff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  
  &:disabled{
    background: #444444;
  }
  
  &:hover{
    background: darken(#4dd599, 6%);
  }

  &:active{
    background: darken(#4dd599, 10%);
  }

  &-grey{
    background: #f4f6f8;
    color: #444444;

    &:hover{
      background: darken(#f4f6f8, 4%);
    }

    &:active{
      background: darken(#f4f6f8, 10%);
    }
  }
}

